html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.card .right .description{
  height: 150px;
  overflow: hidden;
  text-overflow: clip;
  
}

.container {
    display: inline;
    max-width: 100%;
    height: 100%;
    background-color: whitesmoke;
    margin: auto;
    padding-top: 20px;
}

.container .card {
    max-width: 350px;
    min-height: 150px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);

}

.container .card .left {
    widows: 40%;
    padding: 10px;
}

/* .container .card .right {
    widows: 70%;
    padding: 10px;
} */

.card .right .name {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}

  .container .card {
    transition: box-shadow .3s;
    position: relative;
    width: 150px;
    height: 300px;
    margin: 5px;
    border-radius:2px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    
  }
  .container .card:hover {
    box-shadow: 0 0 11px rgba(255, 0, 221, 0.2); 
  }

  .container .card .over-card .tier {
    text-align: center;
    position: relative;
    top: 103px;
    color: gold;
    /* background-color: black; */

  }

  /* ::-webkit-scrollbar {
    direction: rtl;
    position: relative;
    width: 10px;
    opacity: 0;
    left: 100px;
  }

  ::-webkit-scrollbar-thumb {
    position: relative;
    z-index: 100000000000000000000000000000000000000000000000;
    order: 100000000000000000000000000000000000000000000000000000;
    background-color: black;
    width: 50px;
    height: 50px;
  } */

  .over-card {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .container .card .over-card .quantity {
    position: absolute;
    top: 0px;
    right: 16px;
    color: black;
    background-color: white;
  }

  .container .card .over-card .type {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
  }

  .fSelector{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    object-fit: cover;
    /* z-index: 100000000000000; */
    z-index: 1000000000;
    
  }

  .fSelected {
    position: absolute;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
  }

  .fSelected label {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* Ensure the checkbox is centered */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* display: block;
    position: absolute;
    width: 100;
    height: 100;
    object-fit: fill;
    z-index: 99999999999; */
  }

  .fSelector:checked ~ .fSelected {
    opacity: .5;
    background: black;
    box-shadow: 0 0 11px rgba(255, 0, 221, 0.9);
    z-index: 9999999;
  }

  /* .fSelector:not(:checked) ~ .fSelected {
    opacity: 0;
    background: black;
    left: -4px;
    top: -3px;
    box-shadow: 0 0 11px rgba(255, 0, 221, 0.9);
    z-index: 9999999999999;
  } */