.crowns {
    opacity: 0.5;
    z-index: 1000000000000000000;
    position: fixed;
    /* top: 0px; */
    left: 0px;
    margin-top: 10px;
    background: #0099CC;
    border-radius: 10px;
    padding-left: 1px;
    padding-right: 3px;
}