.experience {
  width: 100%;
  max-width: 260px;
  height: 6px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
  position: fixed;
  margin: 1% auto;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000000000;
}
  
  .experience-bar {
    display: block;
    height: 100%;
    background: linear-gradient(90deg,#ffd33d,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
    background-size: 300% 100%;
    animation: experience-animation 2s linear infinite;
  }

.currentLevel {
  z-index: 1000000000000000;
  display: inline-block;
  position: fixed;
  bottom: 10px;
  left: 0px;
  margin: 1% auto;
  margin-left: 50%;
  margin-right: 50%;
}

@keyframes experience-animation {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: 0;
  }
}