.pageNavigation {
    z-index: 100000000000000000;
    display: inline-flex;
    position: fixed;
    bottom: 0px;
    margin-top: 20px;
    left: 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}