/* .edit {
	background-color:#168ab8;
	border-radius:28px;
	border:1px solid #4ec3f5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:8px 19px;
	text-decoration:none;
}
.edit:hover {
	background-color:#4ec3f5;
}
.edit:active {
	position:relative;
	top:1px;
}

.tool {
	background-color:#168ab8;
	border-radius:28px;
	border:1px solid #4ec3f5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:8px 19px;
	text-decoration:none;
}
.tool:hover {
	background-color:#4ec3f5;
}
.tool:active {
	position:relative;
	top:1px;
} */